.mainbody {
  position: relative;
  height: 100vh;
  background-image: url('./1-fotor-20230703233318.png');
  background-repeat: no-repeat;
  background-position: right top;
}

.mainbody {
  display: grid;
}

.body {
  display: flex;
  flex-wrap: wrap;
  flex: 50%;
}

@media (max-width: 800px) {
  .mainbody {
    flex: 100%;
  }
}

.featureSec {
  margin-top: 15%;
}
