.nav-link{
    text-decoration: none;
    padding-top: 20px;
    padding-left: 10px; 
    color: white;
    border: none;
    background-color: transparent;
}

.navbar{
    list-style-type: none;
}

.logo{
    width: 340px;
    height: 120px;
}

.nav-link:hover{
    transform: scale(1.25);
    font-weight: bold;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor:pointer;
}
